.section-forecast {
  display: flex;
  flex-wrap: wrap;
  padding: 2.4rem 1.2rem;
  text-align: center;
  margin: 0 auto;
}

.content-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: inherit;
}

.forecast-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: inherit;
  padding: 0.6rem 1.2rem;
  color: #333;
}

.forecast-day {
  grid-column: 1 / 3;
  font-weight: bold;
  font-size: 1.6rem;
  padding-bottom: 0.4rem;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid #74c0fc;
}

.forecast-time-of-day {
  font-size: 1.2rem;
}

.forecast-temp {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: -1rem;
  margin-bottom: 0.6rem;
}

.forecast-desc::first-letter {
  text-transform: capitalize;
}
